@charset "UTF-8";
/* Font-weight____________________________ */
/* ====================================*/
/* Font-sizes====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  margin: 0 auto;
  margin-left: 70px;
  max-width: 1850px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-left: 0;
  }
}

/*Навигация__________________________________________________________________*/
nav {
  position: absolute;
  left: -70px;
  max-width: 70px;
  height: 100%;
  background-color: #FC745A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

nav a {
  padding: 2.5em 1em;
  padding-bottom: 0;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  margin: 20px 0;
}

nav .logo {
  padding: 35px 36px;
  margin: 0;
  border: none;
  background-color: white;
  background: url(../img/logo.png) no-repeat;
  background-position: center;
}

@media screen {
  nav .logo {
    background-color: white;
  }
}

nav .home {
  background: url(../img/home.png) no-repeat;
  background-position: top;
}

nav .stactics {
  background: url(../img/stactics.png) no-repeat;
  background-position: top;
}

nav .user {
  background: url(../img/user.png) no-repeat;
  background-position: top;
}

nav .settings {
  background: url(../img/settings.png) no-repeat;
  background-position: top;
}

nav .quires {
  background: url(../img/information.png) no-repeat;
  background-position: top;
}

nav .power {
  background: url(../img/power-button.png) no-repeat;
  background-position: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

/* Header _____________________________________________________________________________*/
header {
  max-width: 1850px;
}

.header__top-container {
  max-width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F8F8F8;
}

.header__top-container button {
  border: none;
  padding: 35px 35px;
  margin: 0;
  border-left: 1px solid #F8F8F8;
}

.header__top-container .ellipse {
  background: url(../img/ellipse.png) no-repeat center center;
  background-size: auto;
  position: relative;
}

.header__top-container .ellipse:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 33px;
  left: 33px;
  background-color: #ffffff;
  border-radius: 50%;
}

.header__top-container .money {
  background: url(../img/money.png) no-repeat center center;
}

.header__top-container .settings-2 {
  background: url(../img/settings-2.png) no-repeat center center;
  border-right: 1px solid #F8F8F8;
}

.header__top-container .upload {
  background: url(../img/upload.png) no-repeat center center;
}

.header__top-container .message {
  background: url(../img/message.png) no-repeat center center;
}

.header__top-container .earth {
  position: relative;
  background: url(../img/earth.png) no-repeat center center;
}

.header__top-container .earth:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 45px;
  top: 20px;
  background-color: #FD7858;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .header__top-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

form {
  font-size: 12px;
  font-weight: 400;
  color: #C8C8C8;
}

form input {
  background: url(../img/zoom.png) no-repeat;
  background-position: right;
  background-color: #F8F8F8;
  min-width: 300px;
  padding: 0.5em 1em;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
}

.header__top-container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-container__right .jenner {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top-container__right .jenner h2 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  color: #FC745A;
}

.header__top-container__right .jenner span {
  font-size: 10px;
  font-weight: 400;
  color: #C8C8C8;
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.dot div {
  margin: 1.5px 1em;
  width: 5px;
  height: 5px;
  background-color: #C8C8C8;
  border-radius: 50%;
}

.header__low-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__low-container h3 {
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  margin: 0;
}

.header__low-container p {
  font-weight: bold;
  font-size: 20px;
  color: #FD7858;
  margin: 0;
}

.header__low-container span {
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  padding: 0 0.6em;
  position: relative;
}

.header__low-container span:nth-child(even):before {
  position: absolute;
  top: 3px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #FD7858;
}

.header__low-container span:nth-child(odd):before {
  position: absolute;
  top: 6px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #A889E9;
}

.header__low-container h5 {
  font-size: 12px;
  font-weight: 700;
  color: #FD7858;
}

@media screen and (max-width: 768px) {
  .header__low-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__low-container__left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}

.header__low-container__middle {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}

.header__low-container__right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}

/* Main_____________________________________________________________________________*/
main {
  max-width: 78%;
  background-color: #F8F8F8;
  padding: 1%;
}

main div {
  background-color: #ffffff;
}

.main-container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head h4 {
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

.head div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
}

.head .month {
  background-color: #FC745A;
  padding: 0.5em 1.5em;
  border-radius: 15px;
  color: #ffffff;
}

.main-container__top-left {
  width: 70%;
  padding: 1em 2em;
}

.main-container__top-left ul {
  list-style: none;
  padding: 0;
}

.main-container__top-left ul li {
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
}

.main-container__top-left .numeral li {
  position: relative;
  padding: 0.8em 0;
}

.main-container__top-left .numeral li:after {
  width: 91%;
  content: "";
  position: absolute;
  border-bottom: 1px solid #BFBFBF;
  top: 50%;
  left: 4em;
}

.main-container__top-left .monthes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.main-container__top-right {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
}

.main-container__top-right h4 {
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

.main-container__top-right p {
  margin: 0;
  padding: 1.9em;
  font-weight: 700;
  font-size: 25px;
  color: #AC6DDC;
  background: url(../img/Round-purpur.png) no-repeat center center;
}

.main-container__top-right span {
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  padding: 0 0.6em;
  position: relative;
}

.main-container__top-right span:nth-child(even):before {
  position: absolute;
  top: 3px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #FD7858;
}

.main-container__top-right span:nth-child(odd):before {
  position: absolute;
  top: 6px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #A889E9;
}

.main-container__low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
}

.main-container__low-left {
  width: 49%;
  padding: 1em;
}

.main-container__low-left h4 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

.main-container__low-left p {
  padding: 0.5em;
  font-weight: 400;
  font-size: 12px;
  color: #BFBFBF;
  background-color: #F8F8F8;
  border: 1px solid #BFBFBF;
}

.main-container__low-left span {
  font-size: 8px;
  font-weight: 400;
  color: #777777;
  margin-top: 1em;
}

.main-container__low-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container__low-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

.main-container__low-img div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container__low-text {
  margin-left: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container__low-text .low-text__center-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.main-container__low-text .low-text__center-section:before {
  content: "";
  position: absolute;
  top: 112px;
  left: 0px;
  width: 1px;
  height: 10.5em;
  background-color: #F8F8F8;
  border: 1px solid #BFBFBF;
}

.main-container__low-right {
  width: 49%;
}

.main-container__low-right h4 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

.main-container__low-right p {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #AC6DDC;
}

.main-container__low-right span {
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  padding: 0 0.6em;
  position: relative;
}

.main-container__low-right span:nth-child(even):before {
  position: absolute;
  top: 3px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #FD7858;
}

.main-container__low-right span:nth-child(odd):before {
  position: absolute;
  top: 6px;
  left: -2px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #A889E9;
}

.main-container__low-right-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
}

.main-container__low-right-progress {
  padding: 1em;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container__low-right-progress div {
  padding-top: 1em;
}

.main-container__low-right-map {
  padding: 1em;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container__low-right-map:before {
  content: "";
  position: absolute;
  background: url(../img/locate-places.png) no-repeat center center;
  width: 20px;
  height: 25px;
}

.main-container__low-right-map p {
  color: #FD7858;
}

.main-container__low-right-map div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container__low-right-first {
  width: 99%;
  padding: 1em;
}

.main-container__low-right-first h4 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

.main-container__low-right-first p {
  font-weight: 400;
  font-size: 12px;
  color: #BFBFBF;
}

.main-container__low-right-first h5 {
  margin: 1em 0;
  font-size: 12px;
  font-weight: 900;
  color: #FD7858;
}

.main-container__low-right-first h6 {
  margin: 1em 0;
  font-weight: 700;
  font-size: 12px;
  color: #777777;
}

.main-container__low-right-first li {
  border-bottom: 1px solid #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */