/* Font-weight____________________________ */
$bold: 700;
$black: 900;
$regular: 400;
$light: 300;
/* ====================================*/

/* Font-sizes====================*/
$eight: 8px;
$ten: 10px;
$twelve: 12px;
$thirteen: 13px;
$fourteen: 14px;
$twenty: 20px;
$twenty-five: 25px;


    
     
 


 
